<youtube-player #youtubePlayer [height]="450" [width]="800" videoId="dBF65_kHdNg" suggestedQuality="small" (stateChange)="onPlayerStateChange($event)"/>

<div *ngIf="transcript">
  <div class="caption__container" *ngFor="let caption of transcript?.transcript">
      <p class="caption" *ngIf="caption.start !== highlightedTimestamp">
        <span class="caption__timestamp" (click)="changeTimeStamp(caption.start)">{{formatSecondsToMinutes(caption.start)}}</span> 
        <span class="caption__text">{{caption.text}}</span>
      </p>

      <p class="caption caption-highlighted" *ngIf="caption.start === highlightedTimestamp">
        <span class="caption__timestamp" (click)="changeTimeStamp(caption.start)">{{formatSecondsToMinutes(caption.start)}}</span> 
        <span class="caption__text">
          <span class="caption__text-word" *ngFor="let word of breakSentence(caption.text)" (click)="getWordTranslation(word)">{{word}}</span>
        </span>
      </p>

  </div>
</div>