.caption__container{
    /* background-color: antiquewhite; */
    margin-bottom: 30px;
    max-width: 950px;
}

.caption{
    padding: 10px;
    font-size: 20px;
    display: flex;
    color:gray;
}

.caption-highlighted{
    color: black;
}

.caption__timestamp{
    color:rgb(34, 34, 164);
}

.caption__timestamp:hover{
    cursor: pointer;
}

.caption__text{
    margin-left: 10px;
}

.caption-highlighted .caption__timestamp{
    /* color:red; */
}

.caption__text-word{
    margin-left: 3px;
}

.caption__text-word:hover{
    background-color: bisque;
    cursor: pointer;
}