@import '../../../variables';

.caption__container{
    /* background-color: antiquewhite; */
    margin-bottom: 30px;
    max-width: 600px;
    margin: 0 auto;
}

.caption{
    padding: 10px;
    font-size: 20px;
    display: flex;
    color:gray;
}

.caption-highlighted{
    color: black;
    background-color: $text-gray-light;
    border-radius: 5px;
    padding: 10px;
}

.caption__text{
    margin-left: 10px;
}


.caption__text-word{
    margin-left: 3px;
}

.caption__text-word:hover{
    background-color: bisque;
    cursor: pointer;
}

.caption__info{
    color: $text-gray-dark;
}