@import '../../../variables';

.transcript{
    margin-top: 25px;
    margin-bottom: 25px;
}

.caption__container{
    /* background-color: antiquewhite; */
    margin-bottom: 30px;
    max-width: 600px;
    width: fit-content;
    margin: 0 auto;

    .caption{
        font-size: 18px;
        color: black;
        background-color: $text-gray-light;
        border-radius: $border-radius;

        &__text{
            text-align: center;
            padding: 10px;

            &-word{
                margin-left: 3px;
                position: relative;
            }
        }
    }

    .caption-second{
        filter: blur(8px);
    
        &:hover{
            filter: blur(0);
        }
    }
}





.caption-first .caption__text-word:hover{
    background-color: bisque;
    cursor: pointer;
}

.caption__info{
    color: $text-gray-dark;
}

.caption__unblured{
    filter: blur(0) !important;
}

.word-meaning{
    background-color: gray;
    color: white;
    position: absolute;
    top: -35px;
    left: 0;
    right:0;
    width: fit-content;
    padding: 5px;
    border-radius: $border-radius;
}