<div class="controller-container" [class.expanded]="showControl">
    <div class="control">
        <input type="checkbox" [formControl]="showSecondCaption" id="showSecondCaption" value="">
        <label for="showSecondCaption">Second caption</label>
    </div>
    <div class="control">
        <input type="checkbox" [formControl]="unblurSecondCaption" id="unblurSecondCaption">
        <label for="unblurSecondCaption">Unblur caption</label>
    </div>
    <div class="control">
        <input type="checkbox" [formControl]="pauseAfterCaption" id="pauseAfterCaption">
        <label for="pauseAfterCaption">Pause after caption</label>
    </div>
</div>

<div class="toggle-control" [class.toggled]="!showControl" (click)="showControl = !showControl">
    <i class='bx bx-chevron-up'></i>
</div>

