@import '../../../variables';

.youtube__container{
    // background-color: $bg-gray;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    height: 100vh;
    overflow: hidden;
}


// .youtube__container{
//     background-color: black;
//     display: flex;    
//     height: 100vh;
//     overflow: hidden;
// }

.video__content{
    flex: 3;
    margin: 0 50px;
}

.vocabulary__container{
    border-radius: 24px;
    // background-color: $blue;
    flex: 1;
    padding: 20px;
    // width: 100%;
}

.youtube-video{
    // margin-top: 100px;
    margin: 50px auto 0 auto;
    flex: 3;
    border-radius: 15px;
    // background-color: $green;
    overflow: hidden;
}

.transcript{
    border-radius: 24px;
    overflow: auto;
    // background-color: $green;
    text-align: center;
    height: 400px;

}
.caption{
    text-align: center;
}









.caption__container{
    /* background-color: antiquewhite; */
    margin-bottom: 30px;
    max-width: 600px;
    margin: 0 auto;
}

.caption{
    padding: 10px;
    font-size: 20px;
    display: flex;
    color:gray;
}

.caption-highlighted{
    color: black;
    background-color: $text-gray-light;
    border-radius: 5px;
    padding: 10px;
}

.caption__timestamp{
    color:rgb(34, 34, 164);
}

.caption__timestamp:hover{
    cursor: pointer;
}

.caption__text{
    margin-left: 10px;
}

.caption-highlighted .caption__timestamp{
    /* color:red; */
}

.caption__text-word{
    margin-left: 3px;
}

.caption__text-word:hover{
    background-color: bisque;
    cursor: pointer;
}