@import '../../../variables';

.youtube__container{
    // background-color: $bg-gray;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    height: 100vh;
    overflow: hidden;
}


// .youtube__container{
//     background-color: black;
//     display: flex;    
//     height: 100vh;
//     overflow: hidden;
// }

.video__content{
    flex: 3;
    margin: 0 50px;
}

.vocabulary__container{
    border-radius: $border-radius;
    // background-color: $blue;
    flex: 1;
    padding: 20px;
    // width: 100%;
}