$primary-color: #ef233c;
$feminine-color:#ef233c; // #ECA793
$neuter-color:#03071e; // #292929
$masculine-color:#ffba08; //#f48c06 #faa307 #EEDEA5

$blue: #CEDBFD;
$green: #BDD6C2;

$text-black: #1B1B1B;
$text-gray-dark: #404040;
$text-gray: #808080;
$text-gray-light: #C0C0C0;

$bg-dark: #101828;
$bg-gray: #ddd;
$bg-gray-light: #F5F5F7;
$bg-gray-dark: #808080;

$action-color: #70EE91;

$border-radius: 10px;